body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    background-image: url("https://wallpapercave.com/wp/wp2855282.jpg");
}

h1 {
    color: white;
    font-weight: 900;
    text-align: center;
}

.form-input {
    display: block;
    width: 120PX;
    height: 60PX;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #dddddd;
    outline: none;
    font-size: xx-large;
    text-align: center;
    font-weight: 800;
    background: #1c1c1c;
    color: white;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    font-size: larger;
}